@import "../useful/_mixins";
@import "../useful/_variables";
@import "../useful/_typography";

/* mobile responsive */
@include mobile__responsive {
  .footer {
    @include column;
    justify-content: flex-start;
    color: $color_white;
    background-color: $bc_lightblack;
    padding: 20px;
    @include tablet__responsive {
      @include rwrap;
      justify-content: flex-end;
      align-items: baseline;
      align-content: center;
      padding: 30px 15px;
    }
    h3 {
      line-height: 2;
      padding-bottom: 10px;
      @include italic;
      @include tablet__responsive {
        order: 1;
        align-content: center;
        flex-wrap: wrap;
        margin-left: 50px;
        margin-right: 20px;
      }
    }
    &_i1 {
      margin-right: 10px;
    }
    &_i2 {
      margin-right: 5px;
    }
    a {
      text-decoration: none;
      color: $color_white;
      margin-top: 2px;
    }
    h3,
    &_ip1,
    &_ip2,
    p,
    a {
      @include flex;
    }
    &_i1,
    &_i2,
    &_p1,
    &_p2,
    p {
      margin-bottom: 5px;
    }
    &_i2 {
      font-size: 14px;
    }
    p,
    h4 {
      margin: 0;
      padding: 0;
    }
  }
}
/*Tablet and Desktop responsive*/
@include tablet__responsive {
  .footer {
    &_ip1,
    &_ip2 {
      align-items: center;
      margin-left: 10px;
    }
    &_ip2,
    p {
      margin-right: 20px;
    }
    &_i {
      margin-right: 0;
    }
  }
}
