@import "../useful/_variables";
@import "../useful/_mixins";
@import "../layout/_body";
@import "../useful/_typography";
@import "../components/_buttons";

@media screen and (max-width: 3000px) {
    .function {
        
        @include rcenter;
        padding: 50px 0 50px 20px;
        &_section {
            @include column;
            width: 100%;
        }
        &_title {
            @include column;
            padding-bottom: 15px;
        }
        &_card {
            @include rcenter;
            background-color: $bc_lightgrey;
            border-radius: 30px;
            align-items: center;
            margin-bottom: 20px;
            width: 90%;
            height: 120px;
            &_title {
                z-index: 1;
                @include circle;
                background-color: $color_primary;
                color: $color_white;    
                justify-content: center;
            }
            &_title, &_i {
                margin-right: 10px;
            }
        }
        @media screen and (min-width: 768px) {
            .function {
                padding: 50px 0 50px 20px;
                &_section {
                    @include row;
                    
                }
                &_title {
                    width: 100%;
                    padding: 15px 10px;
                }
                .cards {
                    @include flex;
                    width: fit-content
                }
                &_card {
                    @include rcenter;
                    background-color: $bc_lightgrey;
                    border-radius: 30px;
                    align-items: center;
                    width: 90%;
                    height: 120px;
                    &_title {
                        z-index: 1;
                        @include circle;
                        background-color: $color_primary;
                        color: $color_white;    
                        justify-content: center;
                    }
                    &_title, &_i {
                        margin-right: 10px;
                    }
                }
            }
        }
    }    
}
    
