@import "../useful/_variables";
@import "../useful/_mixins";
@import "../useful/_typography";
@import "../components/_buttons";
@import "../layout/_body";

@include mobile__responsive {
  .header {
    @include ccenter;
    &_logo,
    &_menu-logo {
      width: 230px;
      height: 35px;
      margin: 10px auto;
      padding-top: 15px;
      padding-bottom: 10px;
    }
    &_menu {
      @include flex;
      align-items: center;
      padding: 10px 0;
    }
    a {
      position: absolute;
      margin-left: 10px;
      margin-top: 5px;
      color: $color_black;
    }
    nav {
      @include row;
      justify-content: center;
      align-items: center;
      height: 40px;
      background-color: $bc_grey;
      font-weight: bold;
      z-index: 1;
      input {
        background-color: transparent;
        border: 0;
        outline: none;
        font-weight: bold;
        text-align: center;
        width: 128px;
      }
    }
    &_discover {
      padding-top: 10px;
      padding-bottom: 30px;
      text-align: center;
      @include column;
      background-color: $bc_lightgrey;
      &_title,
      &_p {
        padding-bottom: 20px;
      }
      button {
        margin: auto;
      }
    }
    @include tablet__responsive {
      br {
        display: none;
      }
    }
  }
}
