@import "../components/_buttons";
@import "../useful/_variables";
@import "../useful/_mixins";
@import "../useful/_typography";
@import "./_header";
@import "./_footer";

/*
SCSS des pages de menu
 */
@include mobile__responsive {
  .header {
    &_image {
      @include width;
      height: 300px;
      object-fit: cover;
    }
  }
  .new_cards {
    background-color: $bc_lightgrey;
    @include cwrap;
    @include tablet__responsive {
      margin: 0 15%;
    }
    &_name {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      background-color: $bc_lightgrey;
      border-top-left-radius: 48px;
      border-top-right-radius: 48px;
      position: absolute;
      top: 350px;
      width: 100%;
      @include italic;

      p {
        font-size: x-large;
        font-weight: map-get($font_weight, bold);
        padding: 15px 0 0 20px;
        @include tablet__responsive {
          padding: 15px 0 0 325px;
        }
      }
      @include tablet__responsive {
        width: 70%;
      }
    }

    .entrees,
    .plats,
    .desserts {
      @include rwrap;
      width: 95%;
    }

    .sous_titre {
      margin: 25px 0 0 10px;
      font-size: 18px;
      padding-bottom: 10px;
      @include width;
      @include tablet__responsive {
        width: 72%;
      }
      &:after {
        content: "";
        border-bottom: 2px solid $color_tertiary;
        display: block;
        padding-top: 3px;
        width: 40px;
      }
    }
  }

  .menu {
    @include row;
    border-radius: 18px;
    box-shadow: 0 0 4px 2px darkgrey;
    background-color: $color_white;
    margin: 0 5px 15px;
    width: 100%;
    @include tablet__responsive {
      @include row;
      width: 72%;
    }

    &_contenu {
      display: flex;
      width: 87%;
      flex-direction: column;
      overflow: hidden;
      white-space: pre-wrap;
      padding: 10px;
      @include tablet__responsive {
        white-space: nowrap;
      }

      p,
      h4 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 0 0 8px;
      }
    }

    &_prix {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin: 0 12px 3px 14px;
      padding-bottom: 10px;

      p {
        margin: 0;
        font-weight: map-get($font_weight, bold);
      }
    }

    &_check {
      display: none;
      width: 0;

      i {
        font-size: x-large;
      }
    }
  }

  .btn_menu {
    @include rcenter;
    margin: 20px auto;
  }
}
