@import "./_variables";
@import "./_mixins";

/**
SCSS des différentes animations
 */

 .-hearts {
  font-size: 40px;
  @include flex;
  align-items: center;
}

.-heartsMenu {
  font-size: 30px;
  @include mobile__responsive {
    align-items: flex-start;
  }
  @include tablet__responsive {
    align-items: flex-end;
  }
}

.-hearts, .-heartsMenu {
  @include flex;
  height: 58px;
  width: 45px;
  margin-right: 8px;

  .material-symbols-outlined {
    font-size: 40px;
    font-variation-settings: "FILL" 0, "wght" 100;
    color: $color_black;
    transition: all 0.5s ease-in-out;
    
    &:hover {
      font-variation-settings: "FILL" 1, "wght" 100;
      cursor: pointer;
      background: linear-gradient(170deg, $color_primary 0%, $color_secondary 100%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }
}

.menu {
  position: relative;
  overflow: hidden;

  .menu_check {
    position: absolute;
    right: -65px;
    top: 0;
    height: 100%;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color_tertiary;
    border-radius: 0 15px 15px 0;
    transition: transform 0.5s ease;
    
    i {
      color: white;
      font-size: 20px;
    }
  }

  &:hover {
    .menu_check {
      transform: translateX(-65px);
    }
    
    .menu_prix {
      transform: translateX(-65px);
    }
  }

  .menu_prix {
    transition: transform 0.5s ease;
  }
}

.spin {
  display: inline-block;
  width: 80px;
  height: 80px;

  &:after {
    content: "";
    position: fixed;
    bottom: 0;
    left: 50%;
    right: 0;
    top: 50%;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 100%;
    border: 6px solid;
    border-color: $color_primary $color_black $color_tertiary $color_secondary;
    animation: spin $spin_time;
  }
}

.spinloader {
  animation: spinloader $spin_time;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  background-color: rgba(10, 10, 10, 0.8);
  &:after {
    content: "";
    display: inline-block;
    height: 100%;
    opacity: 0;
  }
}

.fade_short {
  animation: fade-in 1s;
}

.fade_medium {
  animation: fade-in 2s;
}

.fade_long {
  animation: fade-in 3s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**
SCSS des différentes animations 375px<
 */

@media screen and (max-width: 375px) {
  .spin:after {
    position: fixed;
    bottom: 0;
    left: 40%;
    right: 0;
    top: 30%;
  }
}
