@import "./_variables";
@import "./_mixins";
/* Global */
* {
  font-family: "Roboto", sans-serif;
}

@include mobile__responsive {
  .new_cards_name {
    p {
      font-family: "Roboto", serif;
      font-weight: 900;
      font-style: italic;
      font-size: 30px;
    }
  }

  .header {
    &_menu {
      h3 {
        font-family: "Shrikhand", cursive;
        font-weight: map-get($font_weight, black);
        font-style: map-get($font_style, italic);
      }
    }
  }
}
