@import "../useful/_variables";

/* 
    Buttons
*/ 

.btn {
    margin: 16px;
    text-align: center;
    background-size: 200% auto;
    color: $color_white;
    border-radius: 30px;
    border: none;
    box-shadow: 0 2px 5px 2px darkgrey;
    cursor: pointer;
    &:hover {
      background-image: linear-gradient(to top, #9356dc 20%, #da22ff 80%);
      box-shadow: 0 3px 6px 3px darkgrey;
    }
  }
  
  .btn_grad {
    background-image: linear-gradient(to top, #854fb4 10%, #d54cf6 90%);
  }

  .btn_header {
    width: 215px;
    padding: 12px;
  }

  .btn_function {
    width: 215px;
    padding: 12px;
  }

  .btn_menu {
    width: 215px;
    padding: 12px;
    margin: 32px 0 32px 0;
  }